.input-file-wrapper {
    display: flex;
    align-items: center;
    gap: .75rem;
    position: relative;
    margin-top: .75rem;

    & span {
        color: var(--input-placeholder);

    }
}

#upload-input {
    all: unset;
    color: var(--input-placeholder);
}

#upload-input::file-selector-button {
    position: relative;
    padding: .75rem .25rem;
    border: 0;
    background-color: var(--shape-button);
    border-radius: .5rem;
    font-weight: 500;
    color: var(--text-heading);
    background-image: url(../../assets/icons/upload.svg);
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: 0.75rem center;
    padding-left: 2.25rem
}

#upload-input::file-selector-button:hover {
    background-color: var(--shape-hover);
}