@import url(fields/index.css);

fieldset {
    border: none;
}

#titulo-convite {
    padding-bottom: 2.5rem;
}

legend {
    font: var(--heading-sm);
    color: var(--text-heading);
}

.error {
    display: flex;
    align-items: center;
    gap: .25rem;

    font: var(--text-sm);
    color: var(--danger);

    margin-top: .25rem;
}

input[type=text],
input[type=email],
input[type=datetime-local],
input[type=tel],
textarea {
    font: var(--body-md);
    color: var(--text-heading);
    appearance: none;
    width: 100%;
    background-color: var(--input-base);
    padding-inline: 1rem;
    height: 3rem;
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);
    margin-top: .75rem;

    &+small {
        font: var(--text-sm);
        color: #78716C;
        display: inline-block;
        margin-top: .25rem;
    }

    &[required]+.error {
        display: flex;
        align-items: center;
        gap: .25rem;

        font: var(--text-sm);
        color: var(--danger);

        margin-top: .25rem;
    }

    &:not(:focus):valid+.error {
        display: none;
    }
}

input:focus,
textarea:focus {
    outline: .25rem solid var(--surface-secondary);
    border-color: var(--brand-light);

}

textarea {
    height: 8.5rem;
    padding: 1rem;
}

#event {
    & .flex>div {
        flex: 1
    }
}

.label-checkbox {
    margin-bottom: .5rem;
}


#theme {
    position: relative;

    & [type="radio"] {
        all: unset;
        inset: 0;
    }

    & .cards-themes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .5rem;

        & .item-theme {
            position: relative;
            height: 103px;
            padding: .25rem .25rem .5rem .25rem;
            border: 1px solid var(--input-stroke);
            background-color: var(--shape-button);
            border-radius: .5rem;

            & [type="radio"] {
                all: unset;
                position: absolute;
                inset: 0;
                opacity: 0;
            }

            & label {
                display: block;
                text-align: center;
                color: var(--text-heading);
            }

            img {
                max-width: 100%;
                border-radius: 4px;

                margin-bottom: .5rem;
            }

            &:has(input:checked) {
                border: 2px solid var(--brand-light);
            }

            &:hover {
                background-color: var(--shape-hover);
            }
        }
    }
}