body {
    align-items: center;
}

#app {
    display: flex;
    margin-inline: auto;
    gap: 20px;
    background-color: var(--shape-background);
    padding: 1.25rem;
    border-radius: 1rem;

}

aside {
    background-image: url('../assets/img/Background.png');
    height: 720px;
    width: 400px;
    display: flex;
    border-radius: .75rem;
}

#info-produto {
    display: flex;
    width: 85%;
    padding-block: 2rem;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
}

#logo-slogan {
    &>p {
        font-weight: 100;
        font-size: 1rem;
    }
}

main {
    height: 720px;
    width: 820px;
    border-radius: .75rem .75rem 0 0;
    background-color: var(--shape-body);
    flex: 1;
    display: flex;
    overflow: auto;
    scrollbar-color: var(--input-stroke) var(--shape-body); 

}

section + section {
    padding-block: 1.75rem ;
}

.container {
    width: 70%;
    margin-inline: auto;
    padding-block: 5rem;
    justify-content: flex-start;
}

/* Fundo da scrollbar (trilho) */
::-webkit-scrollbar-track {
  background: var(--shape-body); /* fundo escuro */
}

::-webkit-scrollbar-thumb {
  background-color: var(--input-stroke); /* cor da barra */
  border-radius: 4px;
}

::-webkit-calendar-picker-indicator{
    visibility: hidden
}

